/* Animation */

@keyframes ball-1 {
    0% {
        top: -2rem;
        left: -1.5%;
    }
    10% {
        top: 12em;
        left: 10%;
    }
    20%{
        top: 3em;
        left: 20%;    
    }
    30% {
        top: 12em;
        left: 30%;
    }
    40%{
        top: 3em;
        left: 40%;
    }
    50%{
        top: 12em;
        left: 50%;
    }
    60% {
        top: 3em;
        left: 60%;
    }
    70% {
        top: 12em;
        left: 70%;
    }
    80% {
        top: 3em;
        left: 80%;
    }
    90% {
        top: 12em;
        left: 90%;
    }
    99% {
        top: -2rem;
        left: 105%;
    }
}

@keyframes ball-2 {
    0% {
        top: 16rem;
        left: -1.5%;
    }
    10% {
        top: 3em;
        left: 10%;
    }
    20%{
        top: 12em;
        left: 20%;    
    }
    30% {
        top: 3em;
        left: 30%;
    }
    40%{
        top: 12em;
        left: 40%;
    }
    50%{
        top: 3em;
        left: 50%;
    }
    60% {
        top: 12em;
        left: 60%;
    }
    70% {
        top: 3em;
        left: 70%;
    }
    80% {
        top: 12em;
        left: 80%;
    }
    90% {
        top: 3em;
        left: 90%;
    }
    99% {
        top: 16rem;
        left: 105%;
    }
    99.1% {
        top: -3em;
        left: 105%;
    }
    99.5% {
        top: -3em;
        left: -1.5%;
    }
}

@keyframes ball-3 {
    0% {
        top: -2rem;
        left: -1.5%;
    }
    10% {
        top: 12em;
        left: 10%;
    }
    20%{
        top: 3em;
        left: 20%;    
    }
    30% {
        top: 12em;
        left: 30%;
    }
    40%{
        top: 3em;
        left: 40%;
    }
    50%{
        top: 12em;
        left: 50%;
    }
    60% {
        top: 3em;
        left: 60%;
    }
    70% {
        top: 12em;
        left: 70%;
    }
    80% {
        top: 3em;
        left: 80%;
    }
    90% {
        top: 12em;
        left: 90%;
    }
    99% {
        top: -2rem;
        left: 105%;
    }
}

@keyframes ball-4 {
    0% {
        top: 16rem;
        left: -1.5%;
    }
    10% {
        top: 3em;
        left: 10%;
    }
    20%{
        top: 12em;
        left: 20%;    
    }
    30% {
        top: 3em;
        left: 30%;
    }
    40%{
        top: 12em;
        left: 40%;
    }
    50%{
        top: 3em;
        left: 50%;
    }
    60% {
        top: 12em;
        left: 60%;
    }
    70% {
        top: 3em;
        left: 70%;
    }
    80% {
        top: 12em;
        left: 80%;
    }
    90% {
        top: 3em;
        left: 90%;
    }
    99% {
        top: 16rem;
        left: 105%;
    }
    99.1% {
        top: -3em;
        left: 105%;
    }
    99.5% {
        top: -3em;
        left: -1.5%;
    }
}

@keyframes ball-5 {
    0% {
        top: -2rem;
        left: -1.5%;
    }
    10% {
        top: 12em;
        left: 10%;
    }
    20%{
        top: 3em;
        left: 20%;    
    }
    30% {
        top: 12em;
        left: 30%;
    }
    40%{
        top: 3em;
        left: 40%;
    }
    50%{
        top: 12em;
        left: 50%;
    }
    60% {
        top: 3em;
        left: 60%;
    }
    70% {
        top: 12em;
        left: 70%;
    }
    80% {
        top: 3em;
        left: 80%;
    }
    90% {
        top: 12em;
        left: 90%;
    }
    99% {
        top: -2rem;
        left: 105%;
    }
}

@keyframes ball-6 {
    0% {
        top: 16rem;
        left: -1.5%;
    }
    10% {
        top: 3em;
        left: 10%;
    }
    20%{
        top: 12em;
        left: 20%;    
    }
    30% {
        top: 3em;
        left: 30%;
    }
    40%{
        top: 12em;
        left: 40%;
    }
    50%{
        top: 3em;
        left: 50%;
    }
    60% {
        top: 12em;
        left: 60%;
    }
    70% {
        top: 3em;
        left: 70%;
    }
    80% {
        top: 12em;
        left: 80%;
    }
    90% {
        top: 3em;
        left: 90%;
    }
    99% {
        top: 16rem;
        left: 105%;
    }
    99.1% {
        top: -3em;
        left: 105%;
    }
    99.5% {
        top: -3em;
        left: -1.5%;
    }
}

@keyframes ball-7 {
    0% {
        top: -2rem;
        left: -1.5%;
    }
    10% {
        top: 12em;
        left: 10%;
    }
    20%{
        top: 3em;
        left: 20%;    
    }
    30% {
        top: 12em;
        left: 30%;
    }
    40%{
        top: 3em;
        left: 40%;
    }
    50%{
        top: 12em;
        left: 50%;
    }
    60% {
        top: 3em;
        left: 60%;
    }
    70% {
        top: 12em;
        left: 70%;
    }
    80% {
        top: 3em;
        left: 80%;
    }
    90% {
        top: 12em;
        left: 90%;
    }
    99% {
        top: -2rem;
        left: 105%;
    }
}

@keyframes ball-8 {
    0% {
        top: 16rem;
        left: -1.5%;
    }
    10% {
        top: 3em;
        left: 10%;
    }
    20%{
        top: 12em;
        left: 20%;    
    }
    30% {
        top: 3em;
        left: 30%;
    }
    40%{
        top: 12em;
        left: 40%;
    }
    50%{
        top: 3em;
        left: 50%;
    }
    60% {
        top: 12em;
        left: 60%;
    }
    70% {
        top: 3em;
        left: 70%;
    }
    80% {
        top: 12em;
        left: 80%;
    }
    90% {
        top: 3em;
        left: 90%;
    }
    99% {
        top: 16rem;
        left: 105%;
    }
    99.1% {
        top: -3em;
        left: 105%;
    }
    99.5% {
        top: -3em;
        left: -1.5%;
    }
}

@keyframes ball-9 {
    0% {
        top: -2rem;
        left: -1.5%;
    }
    10% {
        top: 12em;
        left: 10%;
    }
    20%{
        top: 3em;
        left: 20%;    
    }
    30% {
        top: 12em;
        left: 30%;
    }
    40%{
        top: 3em;
        left: 40%;
    }
    50%{
        top: 12em;
        left: 50%;
    }
    60% {
        top: 3em;
        left: 60%;
    }
    70% {
        top: 12em;
        left: 70%;
    }
    80% {
        top: 3em;
        left: 80%;
    }
    90% {
        top: 12em;
        left: 90%;
    }
    99% {
        top: -2rem;
        left: 105%;
    }
}

@keyframes ball-10 {
    0% {
        top: 16rem;
        left: -1.5%;
    }
    10% {
        top: 3em;
        left: 10%;
    }
    20%{
        top: 12em;
        left: 20%;    
    }
    30% {
        top: 3em;
        left: 30%;
    }
    40%{
        top: 12em;
        left: 40%;
    }
    50%{
        top: 3em;
        left: 50%;
    }
    60% {
        top: 12em;
        left: 60%;
    }
    70% {
        top: 3em;
        left: 70%;
    }
    80% {
        top: 12em;
        left: 80%;
    }
    90% {
        top: 3em;
        left: 90%;
    }
    99% {
        top: 16rem;
        left: 105%;
    }
    99.1% {
        top: -3em;
        left: 105%;
    }
    99.5% {
        top: -3em;
        left: -1.5%;
    }
}

@keyframes ball-11 {
    0% {
        top: -2rem;
        left: -1.5%;
    }
    10% {
        top: 12em;
        left: 10%;
    }
    20%{
        top: 3em;
        left: 20%;    
    }
    30% {
        top: 12em;
        left: 30%;
    }
    40%{
        top: 3em;
        left: 40%;
    }
    50%{
        top: 12em;
        left: 50%;
    }
    60% {
        top: 3em;
        left: 60%;
    }
    70% {
        top: 12em;
        left: 70%;
    }
    80% {
        top: 3em;
        left: 80%;
    }
    90% {
        top: 12em;
        left: 90%;
    }
    99% {
        top: -2rem;
        left: 105%;
    }
}

@keyframes ball-12 {
    0% {
        top: 16rem;
        left: -1.5%;
    }
    10% {
        top: 3em;
        left: 10%;
    }
    20%{
        top: 12em;
        left: 20%;    
    }
    30% {
        top: 3em;
        left: 30%;
    }
    40%{
        top: 12em;
        left: 40%;
    }
    50%{
        top: 3em;
        left: 50%;
    }
    60% {
        top: 12em;
        left: 60%;
    }
    70% {
        top: 3em;
        left: 70%;
    }
    80% {
        top: 12em;
        left: 80%;
    }
    90% {
        top: 3em;
        left: 90%;
    }
    99% {
        top: 16rem;
        left: 105%;
    }
    99.1% {
        top: -3em;
        left: 105%;
    }
    99.5% {
        top: -3em;
        left: -1.5%;
    }
}

@keyframes ball-13 {
    0% {
        top: -2rem;
        left: -1.5%;
    }
    10% {
        top: 12em;
        left: 10%;
    }
    20%{
        top: 3em;
        left: 20%;    
    }
    30% {
        top: 12em;
        left: 30%;
    }
    40%{
        top: 3em;
        left: 40%;
    }
    50%{
        top: 12em;
        left: 50%;
    }
    60% {
        top: 3em;
        left: 60%;
    }
    70% {
        top: 12em;
        left: 70%;
    }
    80% {
        top: 3em;
        left: 80%;
    }
    90% {
        top: 12em;
        left: 90%;
    }
    99% {
        top: -2rem;
        left: 105%;
    }
}

@keyframes ball-14 {
    0% {
        top: 16rem;
        left: -1.5%;
    }
    10% {
        top: 3em;
        left: 10%;
    }
    20%{
        top: 12em;
        left: 20%;    
    }
    30% {
        top: 3em;
        left: 30%;
    }
    40%{
        top: 12em;
        left: 40%;
    }
    50%{
        top: 3em;
        left: 50%;
    }
    60% {
        top: 12em;
        left: 60%;
    }
    70% {
        top: 3em;
        left: 70%;
    }
    80% {
        top: 12em;
        left: 80%;
    }
    90% {
        top: 3em;
        left: 90%;
    }
    99% {
        top: 16rem;
        left: 105%;
    }
    99.1% {
        top: -3em;
        left: 105%;
    }
    99.5% {
        top: -3em;
        left: -1.5%;
    }
}

@keyframes ball-15 {
    0% {
        top: -2rem;
        left: -1.5%;
    }
    10% {
        top: 12em;
        left: 10%;
    }
    20%{
        top: 3em;
        left: 20%;    
    }
    30% {
        top: 12em;
        left: 30%;
    }
    40%{
        top: 3em;
        left: 40%;
    }
    50%{
        top: 12em;
        left: 50%;
    }
    60% {
        top: 3em;
        left: 60%;
    }
    70% {
        top: 12em;
        left: 70%;
    }
    80% {
        top: 3em;
        left: 80%;
    }
    90% {
        top: 12em;
        left: 90%;
    }
    99% {
        top: -2rem;
        left: 105%;
    }
}

@keyframes ball-16 {
    0% {
        top: 16rem;
        left: -1.5%;
    }
    10% {
        top: 3em;
        left: 10%;
    }
    20%{
        top: 12em;
        left: 20%;    
    }
    30% {
        top: 3em;
        left: 30%;
    }
    40%{
        top: 12em;
        left: 40%;
    }
    50%{
        top: 3em;
        left: 50%;
    }
    60% {
        top: 12em;
        left: 60%;
    }
    70% {
        top: 3em;
        left: 70%;
    }
    80% {
        top: 12em;
        left: 80%;
    }
    90% {
        top: 3em;
        left: 90%;
    }
    99% {
        top: 16rem;
        left: 105%;
    }
    99.1% {
        top: -3em;
        left: 105%;
    }
    99.5% {
        top: -3em;
        left: -1.5%;
    }
}

@keyframes ball-17 {
    0% {
        top: -2rem;
        left: -1.5%;
    }
    10% {
        top: 12em;
        left: 10%;
    }
    20%{
        top: 3em;
        left: 20%;    
    }
    30% {
        top: 12em;
        left: 30%;
    }
    40%{
        top: 3em;
        left: 40%;
    }
    50%{
        top: 12em;
        left: 50%;
    }
    60% {
        top: 3em;
        left: 60%;
    }
    70% {
        top: 12em;
        left: 70%;
    }
    80% {
        top: 3em;
        left: 80%;
    }
    90% {
        top: 12em;
        left: 90%;
    }
    99% {
        top: -2rem;
        left: 105%;
    }
}

@keyframes ball-18 {
    0% {
        top: 16rem;
        left: -1.5%;
    }
    10% {
        top: 3em;
        left: 10%;
    }
    20%{
        top: 12em;
        left: 20%;    
    }
    30% {
        top: 3em;
        left: 30%;
    }
    40%{
        top: 12em;
        left: 40%;
    }
    50%{
        top: 3em;
        left: 50%;
    }
    60% {
        top: 12em;
        left: 60%;
    }
    70% {
        top: 3em;
        left: 70%;
    }
    80% {
        top: 12em;
        left: 80%;
    }
    90% {
        top: 3em;
        left: 90%;
    }
    99% {
        top: 16rem;
        left: 105%;
    }
    99.1% {
        top: -3em;
        left: 105%;
    }
    99.5% {
        top: -3em;
        left: -1.5%;
    }
}

@keyframes ball-19 {
    0% {
        top: -2rem;
        left: -1.5%;
    }
    10% {
        top: 12em;
        left: 10%;
    }
    20%{
        top: 3em;
        left: 20%;    
    }
    30% {
        top: 12em;
        left: 30%;
    }
    40%{
        top: 3em;
        left: 40%;
    }
    50%{
        top: 12em;
        left: 50%;
    }
    60% {
        top: 3em;
        left: 60%;
    }
    70% {
        top: 12em;
        left: 70%;
    }
    80% {
        top: 3em;
        left: 80%;
    }
    90% {
        top: 12em;
        left: 90%;
    }
    99% {
        top: -2rem;
        left: 105%;
    }
}

@keyframes ball-20 {
    0% {
        top: 16rem;
        left: -1.5%;
    }
    10% {
        top: 3em;
        left: 10%;
    }
    20%{
        top: 12em;
        left: 20%;    
    }
    30% {
        top: 3em;
        left: 30%;
    }
    40%{
        top: 12em;
        left: 40%;
    }
    50%{
        top: 3em;
        left: 50%;
    }
    60% {
        top: 12em;
        left: 60%;
    }
    70% {
        top: 3em;
        left: 70%;
    }
    80% {
        top: 12em;
        left: 80%;
    }
    90% {
        top: 3em;
        left: 90%;
    }
    99% {
        top: 16rem;
        left: 105%;
    }
    99.1% {
        top: -3em;
        left: 105%;
    }
    99.5% {
        top: -3em;
        left: -1.5%;
    }
}

/* Home image slide in */
@keyframes home-background {
    0% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

/* slogan image change */
@keyframes slogan {
    from {
        top: -16rem;
    }
    to {
        top: 0rem;
    }
}
